@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Work+Sans:wght@100;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
/* MENU */
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Ubuntu';
    font-size: 36px;
    color: #fff;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #1c88b6;
}
.nav-responsive{
    background-color: #1c88b6;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* Sección Inicio */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 500px;
    margin: auto;
    text-align: center;
    border-radius: 50px;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #1c88b6;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Ubuntu';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #1c88b6;
}

/* Sección Sobre mi */
.sobremi{
    background-color: #ffffff;
    color: #000000;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Ubuntu';
    text-align: center;
    padding: 20px 0;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: #1c88b6;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Ubuntu';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1c88b6;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #1c88b6;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #1c88b6;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}

/* Sección trayectoria */
.trayectoria{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.trayectoria .contenido-seccion{
    max-width: 2100px;
    margin: auto;
}
.trayectoria h2{
    font-size: 48px;
    font-family: 'Ubuntu';
    text-align: center;
    padding: 20px 0;

}
.trayectoria .fila{
    display: flex;
    justify-content: space-between;
}
.trayectoria .fila .col{
    width: 49%;
    padding: 0 20px;
}
.trayectoria .fila .col h3{
    font-size: 28px;
    font-family: 'Ubuntu';
    margin-bottom: 25px;
}
.trayectoria .fila .izquierda{
    border-right: 2px solid #252A2E;
}
.trayectoria .fila .derecha{
    border-left: 2px solid #252A2E;
}
.trayectoria .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}
.trayectoria .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.trayectoria .fila .item .casa{
    color: #1c88b6;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.trayectoria .fila .item .fecha{
    display: block;
    color: #1c88b6;
    margin-bottom: 10px;
}
.trayectoria .fila .item p{
    line-height: 24px;
}
.trayectoria .fila .izq{
    border-right: 2px solid #1c88b6;
    margin-right: 20px;
}
.trayectoria .fila .der{
    border-left: 2px solid #1c88b6;
    margin-left: 20px;
}
.trayectoria .fila .item .conectori{
    height: 2px;
    background-color: #1c88b6;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.trayectoria .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1c88b6;
    float: right;
    position: relative;
    bottom: 4px;
}
.trayectoria .fila .item .conectord{
    height: 2px;
    background-color: #1c88b6;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.trayectoria .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1c88b6;
    float: left;
    position: relative;
    bottom: 4px;
}

/* Pie de página */
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1c88b6;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }
    .trayectoria .fila{
        display: block;
    }
    .trayectoria .fila .col{
        width: 90%;
    }
    .trayectoria .fila .derecha{
        margin-left: 20px;
    }
}

.arrow {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 50px solid #0096dc; /* Color de la flecha */
    border-radius: 5px; /* Bordes redondeados */
    transform: rotate(0deg); /* Girar si se desea */
}